/* Add viewport meta tag */
@font-face {
    font-family: 'WeirdFont';
    src: url('/res/fonts/h1Font.ttf') format('truetype');
}

@font-face {
    font-family: 'VGAFont';
    src: url('/res/fonts/bodyFont.woff') format('woff');
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: 'VGAFont', sans-serif;
    margin: 0;
    padding: 10px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.wallOfText {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.serialForm {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: 'WeirdFont', sans-serif;
    background: linear-gradient(to right, #bb86fc, #9a47ff);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #bb86fc;
    margin-bottom: 10px;
    font-size: 3em;
}

label, p {
    font-size: 1.2em;
    margin-top: 10px;
    display: block;
    text-align: center;
}

input, select, button {
    margin-top: 10px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    width: calc(100% - 20px);
    text-align: center;
}

input[type="text"], select {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: 'VGAFont', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.serialInput {
    width: 30%;
}

select {
    width: 30%;
}

button {
    background: linear-gradient(to right, #bb86fc, #9a47ff);  
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    font-family: 'VGAFont', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-position: 0 0;
}

hr {
    border: 2px solid #3e3e3e;
    width: 90%;
    max-width: 540px;
    margin: 20px auto;
}

.small-hr {
    border: 1px solid #3e3e3e;
    width: 90%;
    max-width: 270px;
    margin: 20px auto;
}

span {
    margin-top: 10px;
}

@media (max-width: 600px) {
    body {
        padding: 0px 10px 40px;
        min-height: 90vh;
    }

    input, select, button {
        font-size: 0.9em;
        width: 100%;
    }

    input, select {
        width: calc(100% - 20px);
    }

    .serialInput {
        width: calc(60% - 20px);
    }

    select {
        width: 30%;
    }

    .serialForm {
        width: 500px;
        max-width: 90%;
        margin: 0 auto;
    }

    .wallOfText {
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
    }

    hr, .small-hr {
        width: 100%;
    }

    h1 {
        font-size: 2.5em;
    }
}
